<div class="nf-sen" id="stickyheader" style="display: block;">
    <div id="nftytable">
        <div class="no-mob no-tab3" id="news_tickerweb">
            <ul>               
                <li>
					<table class="left">
					<tbody>
					<tr>
						<!-- ngRepeat: index_details in index_details1 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details1" style="">
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Sensex</td>
										<td class="nft-val ng-binding">34,533.80</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">188.89</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.55%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details1 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details1">
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Nifty</td>
										<td class="nft-val ng-binding">10,468.55</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">38.20</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.37%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details1 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details1">
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Nifty Midcap100</td>
										<td class="nft-val ng-binding">18,434.85</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="red"><i class="fa fa-arrow-down" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding red">-71.95</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding red">(-0.39%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details1 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details1">
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Nifty Small 100</td>
										<td class="nft-val ng-binding">7,699.05</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">0.05</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.00%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details1 -->
					</tr>
					</tbody>
					</table>
				</li>
				<li style="margin-top: 0px;">
					<table class="left">
					<tbody>
					<tr>
						<!-- ngRepeat: index_details in index_details2 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details2" style=""> 
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Nifty Bank</td>
										<td class="nft-val ng-binding">25,742.95</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">58.00</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.23%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details2 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details2"> 
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Nifty IT</td>
										<td class="nft-val ng-binding">13,698.90</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">234.55</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(1.74%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details2 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details2"> 
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Nifty Pharma</td>
										<td class="nft-val ng-binding">8,170.40</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">100.70</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(1.25%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details2 --><td class="dm-block ng-scope" ng-repeat="index_details in index_details2"> 
							<table class="left">
								<tbody>
									<tr>
										<td class="nft-name ng-binding">Nifty Finance</td>
										<td class="nft-val ng-binding">10,696.20</td>
										<td class="nft-change"><span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span> <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">42.50</span></td>
										<td class="nft-close"><span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.40%)</span></td>
									</tr>
								</tbody>
							</table>
						</td><!-- end ngRepeat: index_details in index_details2 -->
					</tr>
					</tbody>
					</table>
				</li>
            </ul>
        </div>
        <div class="no-web no-tab" id="news_ticker">
            <ul>                
                <!-- ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Sensex</td>
                            <td class="nft-val ng-binding">34,533.80</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">188.89</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.55%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Nifty</td>
                            <td class="nft-val ng-binding">10,468.55</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">38.20</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.37%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Nifty Midcap100</td>
                            <td class="nft-val ng-binding">18,434.85</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="red"><i class="fa fa-arrow-down" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding red">-71.95</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding red">(-0.39%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Nifty Small 100</td>
                            <td class="nft-val ng-binding">7,699.05</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">0.05</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.00%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Nifty Bank</td>
                            <td class="nft-val ng-binding">25,742.95</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">58.00</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.23%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Nifty IT</td>
                            <td class="nft-val ng-binding">13,698.90</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">234.55</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(1.74%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Nifty Pharma</td>
                            <td class="nft-val ng-binding">8,170.40</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">100.70</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(1.25%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details --><li ng-repeat="index_details in index_details" class="ng-scope" style="">
                    <table class="left">
                        <tbody>
                        <tr>
                            <td class="nft-name ng-binding">Nifty Finance</td>
                            <td class="nft-val ng-binding">10,696.20</td>
                            <td class="nft-change">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="green"><i class="fa fa-arrow-up" ng-class="(index_details.dir==1)?'fa-arrow-up' :(index_details.dir==-1)?'fa-arrow-down':''"></i></span>
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">42.50</span>
                            </td>
                            <td class="nft-close">
                                <span ng-class="getDirClrDefault(index_details.dir)" class="ng-binding green">(0.40%)</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li><!-- end ngRepeat: index_details in index_details -->                
            </ul>
        </div>
    </div>
    <div class="slideable" id="derp" style="overflow: auto; height: 0px; transition-property: height; transition-duration: 1s; transition-timing-function: ease-in-out;"><div class="slideable_content" style="margin:0 !important; padding:0 !important">        
        <div class="cf">
            <div id="IndexPD">
				<div class="homecard-top">
					<div class="cardHead">Markets</div>
					<div class="hm-card-cont">
						<!-- ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details" style="">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Sensex</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">34,533.80</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">188.89</div>
									<p class="ng-binding">0.55%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Nifty</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">10,468.55</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">38.20</div>
									<p class="ng-binding">0.37%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Nifty Midcap100</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">18,434.85</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col red" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">-71.95</div>
									<p class="ng-binding">-0.39%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Nifty Small 100</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">7,699.05</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">0.05</div>
									<p class="ng-binding">0.00%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Nifty Bank</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">25,742.95</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">58.00</div>
									<p class="ng-binding">0.23%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Nifty IT</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">13,698.90</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">234.55</div>
									<p class="ng-binding">1.74%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Nifty Pharma</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">8,170.40</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">100.70</div>
									<p class="ng-binding">1.25%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details --><div class="row ng-scope" ng-repeat="index_details in index_details">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div class="ng-binding"> Nifty Finance</div>
									<p></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
									<div class="ng-binding">10,696.20</div>
									
								</div>
							</div>
							<div class="news-col03">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(index_details.dir)">
									<div class="ng-binding">42.50</div>
									<p class="ng-binding">0.40%</p>
								</div>
							</div>
						</div><!-- end ngRepeat: index_details in index_details -->
					</div>
				</div> 
			</div>
            <div id="RecentStk">
				<script>

					function ChangeDataForTab(TabName) {
						$('#RecentStk').loadCard({
							URL: '/Stocks/Stock/RecentlyVisitedStocks?Flag=' + TabName,
							AppendAs: "Html"
						});
					}
				</script>


				<div class="homecard-top" ng-show="recent_visited_flag==1" style="">
					<div class="cardHead">Last Visited</div>   
					<div class="hm-card-cont">
                                            <!-- ngRepeat: recent_visited in recent_visited --><!-- ngIf: recent_visited.short_name!="" --><div class="row ng-scope" ng-repeat="recent_visited in recent_visited" style="">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div>
										<a href="/Stocks?StockId=411425&amp;Exchange=0" class="ng-binding">Inventure Growth</a>
										<span class="mojo-hover">
											<span ng-class="getClassbyClr(recent_visited.dot_summary.quality_clr)" class="grey-mojo"></span><span ng-class="getClassbyClr(recent_visited.dot_summary.valuation_clr)" class="red-mojo"></span><span ng-class="getClassbyClr(recent_visited.dot_summary.fin_trend_clr)" class="green-mojo"></span>
										</span>
									</div>
									<p class="ng-binding">Finance/NBFC   <span class="ng-binding">(Micro Cap)</span></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
										<!-- ngIf: recent_visited.cmp!="" && recent_visited.stock_status_display!=1 --><div class="ng-binding ng-scope">17.15</div><!-- end ngIf: recent_visited.cmp!="" && recent_visited.stock_status_display!=1 -->
                                                                                <!-- ngIf: recent_visited.cmp=="" || recent_visited.stock_status_display==1 -->
										<!-- ngIf: recent_visited.total_vol!="" && recent_visited.stock_status_display!=1 --><p class="ng-binding ng-scope">Vol. 9k</p><!-- end ngIf: recent_visited.total_vol!="" && recent_visited.stock_status_display!=1 -->
								</div>
							</div>
							<!-- ngIf: (recent_visited.chg!="" || recent_visited.chgp!="") && recent_visited.stock_status_display!=1 --><div class="news-col03 ng-scope">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(recent_visited.dir)">
									<!-- ngIf: recent_visited.chg --><div>0.05</div><!-- end ngIf: recent_visited.chg -->
									<!-- ngIf: recent_visited.chgp --><p>(0.29%)</p><!-- end ngIf: recent_visited.chgp -->
								</div>
                                                               
							</div><!-- end ngIf: (recent_visited.chg!="" || recent_visited.chgp!="") && recent_visited.stock_status_display!=1 -->	
                                                        <!-- ngIf: recent_visited.stock_status_display==1 -->	
						</div><!-- end ngIf: recent_visited.short_name!="" --><!-- end ngRepeat: recent_visited in recent_visited --><!-- ngIf: recent_visited.short_name!="" --><div class="row ng-scope" ng-repeat="recent_visited in recent_visited">
							<div class="news-col01">
								<div class="hm-stk-nm">
									<div>
										<a href="/Stocks?StockId=522321&amp;Exchange=0" class="ng-binding">Just Dial</a>
										<span class="mojo-hover">
											<span ng-class="getClassbyClr(recent_visited.dot_summary.quality_clr)" class="green-mojo"></span><span ng-class="getClassbyClr(recent_visited.dot_summary.valuation_clr)" class="green-mojo"></span><span ng-class="getClassbyClr(recent_visited.dot_summary.fin_trend_clr)" class="green-mojo"></span>
										</span>
									</div>
									<p class="ng-binding">IT - Software    <span class="ng-binding">(Small Cap)</span></p>
								</div>
							</div>
							<div class="news-col02">
								<div class="hm-stk-val">
										<!-- ngIf: recent_visited.cmp!="" && recent_visited.stock_status_display!=1 --><div class="ng-binding ng-scope">452.50</div><!-- end ngIf: recent_visited.cmp!="" && recent_visited.stock_status_display!=1 -->
                                                                                <!-- ngIf: recent_visited.cmp=="" || recent_visited.stock_status_display==1 -->
										<!-- ngIf: recent_visited.total_vol!="" && recent_visited.stock_status_display!=1 --><p class="ng-binding ng-scope">Vol. 24lacs</p><!-- end ngIf: recent_visited.total_vol!="" && recent_visited.stock_status_display!=1 -->
								</div>
							</div>
							<!-- ngIf: (recent_visited.chg!="" || recent_visited.chgp!="") && recent_visited.stock_status_display!=1 --><div class="news-col03 ng-scope">
								<div class="hm-stk-val-col green" ng-class="getDirClrDefault(recent_visited.dir)">
									<!-- ngIf: recent_visited.chg --><div>16.45</div><!-- end ngIf: recent_visited.chg -->
									<!-- ngIf: recent_visited.chgp --><p>(3.77%)</p><!-- end ngIf: recent_visited.chgp -->
								</div>
                                                               
							</div><!-- end ngIf: (recent_visited.chg!="" || recent_visited.chgp!="") && recent_visited.stock_status_display!=1 -->	
                                                        <!-- ngIf: recent_visited.stock_status_display==1 -->	
						</div><!-- end ngIf: recent_visited.short_name!="" --><!-- end ngRepeat: recent_visited in recent_visited -->

					</div>
				</div>
			</div>     
		</div>
    </div></div>
    <div class="pull-down">
        <a href="javascript:void(0)" id="pullDn" onclick=" sticky=(typeof sticky == 'undefined' )?1:!sticky; (sticky)?cleverTapPush('Global',{'Page':page_name}):''" ng-click="isStickyCollapsed = !isStickyCollapsed;;transition();" slide-toggle="#derp">
            <img src="https://i.marketsmojo.com/dropdown_arrow_mob.png" ng-show="isStickyCollapsed" class="">
            <img src="https://i.marketsmojo.com/close_comp.png" ng-show="!isStickyCollapsed" class="ng-hide">
        </a>
        <div id="cme4" class="arrow_box-top no-mob no-tab" style="display:none">
            <div class="m-txt-22">Pulldown for Stocks you’ve visited &amp; Top indices</div>
            <div class="ok_gotit">
                <button type="button" class="btn btn-info" onclick="OnCoachMarksSelect('cme4');">Got it, Thanks !
                </button>
            </div>
        </div>
        <div class="pull-sec"></div>
    </div>

</div>


<header>
    <nav id="topmenubar1">
		<div class="container-fluid row">
        			<h1 class="cont-head">
                        
                                <a id="mktlogohide1" class="no-mob no-tab2" href="/mojo/search" target="_self"></a>

                                				<a id="mktlogohide1" class="no-web no-tab" href="/mojo/search"></a>
                                                                
                                			</h1>     
			
			<div id="nav_wrapper1" class="nav-wrapper">
			<!-- mobile navigation -->                
                <span class="no-web no-tab baricon" ng-click="show('IsMobMenuVisible')" dir-click-anywhere="hide('IsMobMenuVisible')"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <!-- end mobile navigation -->
                <ul id="nav_bar1" class="nav no-mob no-tab3 navbar-nav">
                    <li><a href="/markets" class="" target="_self">Markets</a></li>                    
                    <li><a href="/portfolio-plus/watchlist#stocks" class=" " target="_self">Watchlist</a></li>
                    <li><a href="/mojostocks" class=" " target="_self">Mojo Stocks</a></li>
                    <li><a href="/portfolio-plus/stock-investments" class=" " style="position: relative;" target="_self">Portfolio</a></li>
                    <li><a href="/recommendation/#StocksCalls" target="_self">Recos</a></li>
                    <li><a href="/mojo/resultcorner" class=" " style="position: relative;" target="_self">Results</a></li>
                    <li><a href="/blog/" class=" " style="position: relative;" target="_self">Mojo Talks</a></li>
                    <li><a href="/mojo/professionalhome" class=" " style="position: relative;" target="_self">Mojo Professional<span style="display: inline-block; font-size: 10px; height: 12px; line-height: 11px; padding: 0 3px;color: #fff; background: #FF3300;  border-radius: 3px; position: absolute; z-index: 999; left:76%; top:70%;  border: transparent;text-align:right;">New</span></a></li>
                </ul>
            </div> 
		</div>
    </nav>
    <form action="/mojo/search" method="post" novalidate="" data-api="" onsubmit="return minimum_char(&quot;search-terms&quot;,3)" class="ng-pristine ng-valid">
        <div class="search" id="search_input1">
            <div id="search" style="display:block;">
                <div id="label">
                    <label for="search-terms" id="search-label"><i class="icon-search"></i></label>
                </div>
                                <div id="input">
               
                    <input type="text" autocomplete="off" placeholder="Search Companies" id="search_input" name="search-terms" ng-model="search_term" ng-change="searchCompany(search_term,'search_term')" data-search-tonontraded="/Stocks/Stock/Nontraded?StockId=-1&amp;Exchange=-2" data-search-tonotlisted="/Stocks/Stock/Delisted?StockId=-1&amp;Exchange=-2" data-search-tolisturl="/Stocks/Stock/Suspended?StockId=-1&amp;Exchange=-2" data-search-url="/Stocks?StockId=-1&amp;Exchange=-2" class="ng-pristine ng-untouched ng-valid ng-empty">
                    <ul class="auto-search header-search" id="search_term" style="display: none;">
                    
                        <!-- ngRepeat: entry in company_list.data -->
                        <li ng-show="company_list.data.length<=0" class="ng-hide"><a class="specialeffects" href="javascript:void(0)"><span class="suggest-name">No stocks found</span></a></li>
                                
                    </ul>
                    <i class=" icon-search"></i>
		</div>
                		<ul class="auto-search header-search" style="display:none"></ul>
            </div>
        </div>
    </form>
        <div class="avtar-login" id="avtar_login" title="" style=" display:none;">
    <a href="/mojo/login?redirect=mojo/landing" class="seefull waves-effect waves-light modal-trigger">Sign In</a>
    </div> 
                    
    <div class="avtar" id="avtar1" style="display:none;">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" ng-click="show('IsVisible')" dir-click-anywhere="hide('IsVisible')">
                      
                    <img id="user_avatar" src="https://i.marketsmojo.com/images.jpg" alt="avatar" class="img-circle">
                </a>
                <div class="noti_bubble"></div>
                
                <div ng-show="IsVisible" class="ng-hide">
                    <ul class="dropdown-menu" style="display:block;">
                                        <li><a class="modal-trigger" onclick="document.getElementById('open_edit_popup').click()" href="javascript:void(0)">Profile</a></li>
                    <li><a href="javascript:void(0)" onclick="document.getElementById('send_reset_password').click()">Reset Password</a></li>
                    <li><a href="/portfolio-plus/watchlist">Watchlist</a></li>
                    <li><a href="/portfolio-plus/stock-investments" class="active">Portfolio</a></li>
                                                              <li><a href="/Home/UserFeedback">Feedback</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);" onclick="userlogout();">Logout</a></li>
                </ul>
                </div>
               
    </div>
        
    
<div id="mySidenav" class="sidenav no-web ng-hide" ng-show="IsMobMenuVisible">
	   <ul>
			<li>
                           			</li>
                        <li><a data-href="/landing" class="" target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Home</a></li>
						<li><a data-href="/markets" class="" target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Markets</a></li>
						<li><a data-href="/mojo/search" target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Stocks</a></li>
						<li><a data-href="/portfolio-plus/watchlist#stocks" class=" " target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Watchlist</a></li>
						<li><a data-href="/mojostocks" class=" " target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Mojo Stocks</a></li>
						<li><a data-href="/portfolio-plus/stock-investments" class=" " style="position: relative;" target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Portfolio</a></li>
                        <li><a data-href="/mojo/resultcorner" target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Results Corner</a></li>
                        <li><a data-href="/blog/" target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Mojo Talks</a></li>
                      <li><a data-href="/mojo/professionalhome" target="_self" href="javascript:void(0);" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Mojo Professional<span style="display: inline-block;font-size: 10px;height: 12px;line-height: 11px;padding: 0 3px;color: #fff;background: #FF3300;border-radius: 3px;position: relative;z-index: 999;left: 4%;border: transparent;text-align:right;">New</span></a>  
<!--			<li><a href="/recommendation/reco-list#StocksCalls" class="active" target="_self">Broker Calls</a></li>-->
			</li><li><a ng-href="/mojo/search#team_slide" class="no-tab" href="/mojo/search#team_slide" onclick="onclick_loader(this.getAttribute(&quot;data-href&quot;))">Team</a> </li>
		</ul>
	</div>

</header>
<div class="fullpageloader" style="display:none;">
    <span style="font-weight: bold;font-size: 1.875em;">Loading...<span>
</span></span></div>