
<div id="toast-container" class="toast ng-hide ng-binding" data="0" style="background-color:#efea61;">
    
</div>
<div id="footer-new">
	<footer class="page-footer">
		<div class="row">
			<div class="col-md-12">
				<div class="foot-atozlinks" style="text-align:center !important;margin-bottom:10px;">
					<ul class="list14">
						<li class="title">Stock List</li>
						<li><a href="/Common/GetStocksByName/A" class="stock-name" target="_blank" title="A">A</a></li>
						<li><a href="/Common/GetStocksByName/B" class="stock-name" target="_blank" title="B">B</a></li>
						<li><a href="/Common/GetStocksByName/C" class="stock-name" target="_blank" title="C">C</a></li>
						<li><a href="/Common/GetStocksByName/D" class="stock-name" target="_blank" title="D">D</a></li>
						<li><a href="/Common/GetStocksByName/E" class="stock-name" target="_blank" title="E">E</a></li>
						<li><a href="/Common/GetStocksByName/F" class="stock-name" target="_blank" title="F">F</a></li>
						<li><a href="/Common/GetStocksByName/G" class="stock-name" target="_blank" title="G">G</a></li>
						<li><a href="/Common/GetStocksByName/H" class="stock-name" target="_blank" title="H">H</a></li>
						<li><a href="/Common/GetStocksByName/I" class="stock-name" target="_blank" title="I">I</a></li>
						<li><a href="/Common/GetStocksByName/J" class="stock-name" target="_blank" title="J">J</a></li>
						<li><a href="/Common/GetStocksByName/K" class="stock-name" target="_blank" title="K">K</a></li>
						<li><a href="/Common/GetStocksByName/L" class="stock-name" target="_blank" title="L">L</a></li>
						<li><a href="/Common/GetStocksByName/M" class="stock-name" target="_blank" title="M">M</a></li>
						<li><a href="/Common/GetStocksByName/N" class="stock-name" target="_blank" title="N">N</a></li>
						<li><a href="/Common/GetStocksByName/O" class="stock-name" target="_blank" title="O">O</a></li>
						<li><a href="/Common/GetStocksByName/P" class="stock-name" target="_blank" title="P">P</a></li>
						<li><a href="/Common/GetStocksByName/Q" class="stock-name" target="_blank" title="Q">Q</a></li>
						<li><a href="/Common/GetStocksByName/R" class="stock-name" target="_blank" title="R">R</a></li>
						<li><a href="/Common/GetStocksByName/S" class="stock-name" target="_blank" title="S">S</a></li>
						<li><a href="/Common/GetStocksByName/T" class="stock-name" target="_blank" title="T">T</a></li>
						<li><a href="/Common/GetStocksByName/U" class="stock-name" target="_blank" title="U">U</a></li>
						<li><a href="/Common/GetStocksByName/V" class="stock-name" target="_blank" title="V">V</a></li>
						<li><a href="/Common/GetStocksByName/W" class="stock-name" target="_blank" title="W">W</a></li>
						<li><a href="/Common/GetStocksByName/X" class="stock-name" target="_blank" title="X">X</a></li>
						<li><a href="/Common/GetStocksByName/Y" class="stock-name" target="_blank" title="Y">Y</a></li>
						<li><a href="/Common/GetStocksByName/Z" class="stock-name" target="_blank" title="Z">Z</a></li>
						<li><a href="/Common/GetStocksByName/OTH" class="stock-name" target="_blank" title="Others">Others</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footerarea-new">	
			<div class="footer-new-area">
				<div class="row">
					<div class="col-md-3 col-sm-12">
						<div class="row">
							<div class="col-md-12">
								<div class="footer-new-logo"><img src="https://i.marketsmojo.com/bottom-logo.png"></div>
							</div>
							<div class="col-sm-6 col-lg-4 col-sm-6">
								<div class="footertextalg">
<!--									<div><a href="javascript:void(0);" class="footer-new-line">About Us</a></div>-->
									<div><a ng-href="/mojo/search#team_slide" class="footer-new-line" href="/mojo/search#team_slide">Team</a></div>
									<div><a href="/Home/UserFeedback" class="footer-new-line">Feedback</a></div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-8 col-sm-6">
								<div class="footertextalg">
									<div class="footnew">
										<div><a href="/aboutus/disclaimer.html" class="footer-new-line">Disclaimer</a></div>
										<div><a href="/aboutus/termsOfUse.html" class="footer-new-line">Terms and Conditions</a></div>
									</div>
								</div>
							</div>							
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="row">
							<div class="col-md-12">							
								<div class="footerul row rowmargin">
									<div class="col-md-5 col-sm-5 col-sm-5">
										<div class="row">
											<div class="col-sm-6 colmargin">
												<div class="siocalicon-fb">
													<a href="https://www.facebook.com/marketsmojocom-819692454796606/" target="blank">
														<i class="fa fa-facebook siocalsize"> <span class="fbtext-new">Facebook</span></i>														
													</a>
												</div>
											</div>
											<div class="col-sm-6 colmargin">
												<div class="siocalicon-linked">
													<a href="https://twitter.com/Marketsmojo" target="blank">
														<i class="fa fa-twitter siocalsize"> <span class="fbtext-new">Twitter</span></i>														
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-sm-7 col-sm-7">
										<div class="row">
											<div class="col-sm-4 colmargin">
												<div class="siocalicon-twitter">
													<a href="https://www.linkedin.com/company-beta/13183866" target="blank">
														<i class="fa fa-linkedin siocalsize"> <span class="fbtext-new">Linked in</span></i>													
													</a>
												</div>
											</div>
											<div class="col-sm-4 colmargin">
												<div class="siocalicon-email">
													<a href="mailto:Support@marketsmojo.com" target="blank">
														<i class="fa fa-envelope siocalsize"> <span class="fbtext-new">Email Us</span></i>														
													</a>
												</div>
											</div>
											<div class="col-sm-4 colmargin">
												<div class="siocalicon-youtube">
													<a href="https://www.youtube.com/channel/UCrkA0lmC2C6B8BgHPfMm07A" target="blank">
														<i class="fa fa-youtube siocalsize"> <span class="fbtext-new">Youtube</span></i>														
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row rowmargin">
									<div class="col-md-12 colmargin">
										<div class="footer-new-border6">
											<div class="footer-new-sub" id="subscribe_sect">
                                                                                            <form ng-submit="subscribe(subscribe_email)" class="ng-pristine ng-valid">
												<div class="row"> 
													<div class="col-sm-9">
														<div class="sub">
															<input type="text" id="subscribe_email_id" class="form-control inputsubcribe ng-pristine ng-untouched ng-valid ng-empty" ng-model="subscribe_email" placeholder="abc@xyz.com">														
														</div>
                                                                                                            <span id="subscribe_msg" ng-show="subscribe_err.flag == 1" class="ng-binding ng-hide"></span>
													</div>
													<div class="col-sm-3">
														<div class="input-group">														
															<span class="input-group-btn">
																<button type="button" class="btnsubbutton-new subbutton-new ng-binding" ng-click="subscribe(subscribe_email)">Subscribe</button>
															</span>
														</div>
													</div>
												</div>
                                                                                        </form>
											</div>
										</div>
									</div>								
								</div>
							</div>							
						</div>
					</div>	
					<div class="col-md-3 col-sm-12">
						<div>
							<div class="footer-new-apphead">Get the MarketsMojo App</div>
							<div class="footer-new-aapmarin col-lg-12 col-md-12 col-sm-6">
								<a href="https://itunes.apple.com/in/app/markets-mojo/id1192962208?mt=8"><img src="https://i.marketsmojo.com/app-icon-new.png" class="apprespnsive"></a>
							</div>
							<div class="footer-new-aapmarin2 col-lg-12 col-md-12 col-sm-6">
								<a href="https://play.google.com/store/apps/details?id=com.Markets.Mojo&amp;hl=en"><img src="https://i.marketsmojo.com/googleapp-icon-new.png" class="apprespnsive1"></a>
							</div>
						</div>
					</div>
				</div>   
			</div>
		</div>
		 <div class="copyrte-foot"> 
			<div style="padding:0px 0px;">Copyright © 2018 Markets Mojo</div>
		</div>   
	</footer>
</div>